* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(closest-side at 5% 10%, black, #0b3658 1000%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 150rem;
          perspective: 150rem;
}

.swing {
  width: 40rem;
  height: 20rem;
  background-color: rgba(206, 216, 91, 0.7);
  -webkit-transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg);
          transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  top: 50%;
}

.swing-1 {
  -webkit-animation: swingAnim 20s infinite ease-in-out;
          animation: swingAnim 20s infinite ease-in-out;
}

@-webkit-keyframes swingAnim {
  0% {
    -webkit-transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(100rem);
            transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(100rem);
  }
  20% {
    -webkit-transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(21rem);
            transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(21rem);
  }
  25% {
    -webkit-transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(27rem);
            transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(27rem);
  }
  35%, 40% {
    -webkit-transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(0);
            transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(0);
  }
  50% {
    -webkit-transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(-60rem);
            transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(-60rem);
  }
  55% {
    -webkit-transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(-55rem);
            transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(-55rem);
  }
  65%, 70% {
    -webkit-transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(-84rem);
            transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(-84rem);
  }
  100% {
    -webkit-transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(-800rem);
            transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(-800rem);
  }
}

@keyframes swingAnim {
  0% {
    -webkit-transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(100rem);
            transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(100rem);
  }
  20% {
    -webkit-transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(21rem);
            transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(21rem);
  }
  25% {
    -webkit-transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(27rem);
            transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(27rem);
  }
  35%, 40% {
    -webkit-transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(0);
            transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(0);
  }
  50% {
    -webkit-transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(-60rem);
            transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(-60rem);
  }
  55% {
    -webkit-transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(-55rem);
            transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(-55rem);
  }
  65%, 70% {
    -webkit-transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(-84rem);
            transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(-84rem);
  }
  100% {
    -webkit-transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(-800rem);
            transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(-800rem);
  }
}

.swing::before {
  content: "";
  width: 1rem;
  height: 100%;
  background-color: #b4bb65;
  position: absolute;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.swing::after {
  content: '';
  height: 1rem;
  width: 100%;
  background-color: #e2ec6c;
  position: absolute;
  bottom: 0;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.circle {
  width: 3rem;
  height: 3rem;
  background-color: #c5c757;
  border-radius: 50%;
  position: absolute;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.circle-1 {
  top: 1rem;
  left: 1rem;
}

.circle-2 {
  top: 1rem;
  right: 1rem;
}

.circle-3 {
  bottom: 1rem;
  right: 1rem;
}

.circle-4 {
  bottom: 1rem;
  left: 1rem;
}

.circle::before {
  content: '';
  width: 1.8rem;
  height: 1.8rem;
  background-color: #e9d8d8;
  position: absolute;
  border-radius: 50%;
  -webkit-transform: translateZ(0.3rem);
          transform: translateZ(0.3rem);
}

.rope {
  height: 40rem;
  width: 0.3rem;
  background-color: #fff;
  position: absolute;
  -webkit-transform: translateZ(20rem) rotateX(90deg) rotateY(90deg);
          transform: translateZ(20rem) rotateX(90deg) rotateY(90deg);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.rope-1 {
  top: 10rem;
  left: 2.5rem;
}

.rope-2 {
  top: 10rem;
  right: 2.5rem;
}

.rope::before {
  content: '';
  width: 0.3rem;
  height: 23rem;
  background-color: #fff;
  position: absolute;
  -webkit-transform: translateY(-23rem) rotateZ(21deg);
          transform: translateY(-23rem) rotateZ(21deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.rope::after {
  content: '';
  width: 0.3rem;
  height: 23rem;
  background-color: #fff;
  position: absolute;
  -webkit-transform: translateY(-23rem) rotateZ(-21deg);
          transform: translateY(-23rem) rotateZ(-21deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
/*# sourceMappingURL=style.css.map */